img.logo {
    max-width: 250px;
    height: auto;
}

@media (max-width: 767px) {
    img.logo {
        width: 89%;
        /* max-width: 100%; */
        height: auto;
    }
}

.nav-underline{
    --bs-emphasis-color:#FFFFFF;
    --bs-nav-underline-gap:1rem;
    --bs-nav-underline-border-width:0.210rem;
    --bs-nav-underline-link-active-color:var(--bs-emphasis-color);
    gap:var(--bs-nav-underline-gap)
}

/* .navbar-primary .navbar-nav .show > .nav-link,
.navbar-primary .navbar-nav .active > .nav-link,
.navbar-primary .navbar-nav .nav-link.show,
.navbar-primary .navbar-nav .nav-link.active {
    color: var(--primary-universal-color);
} */

.nav-underline .nav-link{
    padding-right:0;
    padding-left:0;
    border-bottom:var(--bs-nav-underline-border-width) solid transparent;
}

.nav-underline .nav-link:hover{
    border-bottom-color:currentcolor;
}
.nav-underline .nav-link.active,
.nav-underline .show>.nav-link{
    font-weight:700;
    color:var(--bs-nav-underline-link-active-color);
    border-bottom-color:currentcolor;
}

@media (max-width: 991.98px) {
    .nav-underline {
        gap: 0;
    }

    .navbar-primary .navbar-nav .show > .nav-link,
    .navbar-primary .navbar-nav .active > .nav-link,
    .navbar-primary .navbar-nav .nav-link.show,
    .navbar-primary .navbar-nav .nav-link.active {
        color: inherit;
    }

    .nav-underline .nav-link {
        padding-right: inherit;
        padding-left: inherit;
        border-bottom: none;
    }

    .nav-underline .nav-link:hover {
        border-bottom-color: inherit;
    }

    .nav-underline .nav-link.active,
    .nav-underline .show > .nav-link {
        font-weight: inherit;
        color: inherit;
        border-bottom-color: inherit;
    }
    .navbar-primary .navbar-nav .nav-link:hover {
        color: var(--fifth-universal-color);
    }
}

.btn:hover .icon-after {
    color: var(--fifth-universal-color) !important;
}

.col-lg-3.col-md-6.col-sm-12.pb-1:hover .icon-after {
    color: var(--fifth-universal-color) !important;
}

/* a:hover .icon-after {
    color: var(--fifth-universal-color) !important;
} */

.container-fluid.footer a.text-dark:hover {
    color: #C1C1C1 !important;
}

.d-flex.flex-column.mb-3 .d-flex.flex-column.mb-3 .text-body:hover {
    color: #C1C1C1 !important;
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin-right: 8px; /* Ajusta el espacio entre los iconos según sea necesario */
    font-size: 2rem; /* Ajusta el tamaño del icono según sea necesario */
    color: var(--secondary-universal-color);
}

.social-icons a:hover {
    font-size: 2.5rem; /* Ajusta el tamaño del icono al pasar el mouse por encima */
    color: var(--fifth-universal-color);
}

.font-weight-semi-bold-2 {
    font-weight: 600;
    height: 3rem;
}

.background-image-general {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.background-image-contact {
    background-image: url(../img/detalles/palonskyYthececco.jpg);
}

.background-image-shop {
    background-image: url(../img/detalles/luciano-de-cecco-de-argentina-celebran-un-punto-contra-brasil-durante-un-partido-por-la-medalla-de-b.jpg);
}

.background-image-review {
    background-image: url(../img/detalles/seleccion-celebrando.jpg);
}

/* Review */

#reviews {
    margin-bottom: 50px;
}

.container-review {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    
}

.review {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family-sans-serif);
}

.review h3 {
    font-size: 1.1em;
    margin-bottom: 10px;
    font-family: var(--font-family-sans-serif);
}

.stars {
    color:#FFD231;
}

.bg-tertiary {
    background-color: var(--secondary-universal-color) !important;
}

a.bg-tertiary:hover,
button.bg-tertiary:hover {
    background-color: var(--primary-universal-color) !important;
}

.col-lg-3.d-none.d-lg-block 
.btn.shadow-none.d-flex.align-items-center.justify-content-between 
h6.m-0, 
.col-lg-3.d-none.d-lg-block 
.btn.shadow-none.d-flex.align-items-center.justify-content-between 
i.fa-solid.fa-angle-down {
    color: var(--white);
}

.col-lg-3.d-none.d-lg-block 
.btn.shadow-none.d-flex.align-items-center.justify-content-between:hover 
h6.m-0, 
.col-lg-3.d-none.d-lg-block 
.btn.shadow-none.d-flex.align-items-center.justify-content-between:hover 
i.fa-solid.fa-angle-down {
    color: var(--white);
}

footer.bg-secondary {
    background-color: #EDF1FF !important;
}

nav.navbar-vertical ul.navbar-nav ul.dropdown-menu {
    height: 0px;
    overflow: hidden;
    transition: var(--transition-wait-time);
    counter-reset: items;
}
nav.navbar-vertical ul.navbar-nav ul.dropdown-menu li.dropdown-item {
    counter-increment: items;
}

nav.navbar-vertical ul.navbar-nav li.nav-item:hover ul.dropdown-menu {
    display: block; /* Muestra el menú cuando se pasa el cursor sobre el elemento padre */
    height: var(--each-item);
}

/*
Preloader

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	background: #ffffff;
	transition: .3s all ease;
}

.preloader.loaded {
	opacity: 0;
	visibility: hidden;
}

.preloader.loaded .triangle,
.preloader.loaded .pen {
	animation: none;
}

.preloader-body {
	text-align: center;
}

.preloader-body p {
	position: relative;
	right: -8px;
}

.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	transform-origin: 50%;
	animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
	display: block;
	content: "";
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
	background-position: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
}

.swiper-lazy-preloader-white:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

@keyframes swiper-preloader-spin {
	100% {
		transform: rotate(360deg);
	}
}

.wrapper-triangle {
	position: absolute;
	overflow: hidden;
	top: 50%;
	left: 50%;
	width: 304px;
	height: 250px;
	transform: translate(-50%, -50%);
}

.preloader.loaded .triangle,
.preloader.loaded .pen {
	animation: none;
}

.pen {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 312.5px;
	transform-origin: 50% 0;
	animation: move 1.5s cubic-bezier(0, 0, 0.5, 0.85) infinite;
}

.line-triangle {
	position: absolute;
	width: 250px;
	height: 54px;
	border: 1px solid transparent;
	transform-origin: 0 100%;
}

.line-triangle:nth-last-of-type(1) {
	left: 313px;
	bottom: -21px;
	transform: rotate(-120deg);
	transform-origin: 0 100%;
}

.line-triangle:nth-last-of-type(2) {
	left: 156px;
	top: -54px;
	transform: rotate(120deg);
	transform-origin: 0 100%;
}

.line-triangle:nth-last-of-type(3) {
	top: 217px;
	left: 0;
}

.triangle:nth-of-type(1) {
	animation: tri1 1.5s linear infinite;
}

@keyframes tri1 {
	0% {
		opacity: 0;
	}
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(2) {
	animation: tri2 1.5s linear infinite;
}

@keyframes tri2 {
	0% {
		opacity: 0;
	}
	14.28571% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(3) {
	animation: tri3 1.5s linear infinite;
}

@keyframes tri3 {
	0% {
		opacity: 0;
	}
	28.57143% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(4) {
	animation: tri4 1.5s linear infinite;
}

@keyframes tri4 {
	0% {
		opacity: 0;
	}
	42.85714% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(5) {
	animation: tri5 1.5s linear infinite;
}

@keyframes tri5 {
	0% {
		opacity: 0;
	}
	57.14286% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(6) {
	animation: tri6 1.5s linear infinite;
}

@keyframes tri6 {
	0% {
		opacity: 0;
	}
	71.42857% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle:nth-of-type(7) {
	animation: tri7 1.5s linear infinite;
}

@keyframes tri7 {
	0% {
		opacity: 0;
	}
	85.71429% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.triangle {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border: 31px solid transparent;
	border-bottom: 54px solid #6046b6;
	animation: tri 1.5s linear infinite;
}

.triangle:nth-of-type(1) {
	left: 0px;
}

.triangle:nth-of-type(2) {
	left: 31px;
}

.triangle:nth-of-type(3) {
	left: 63px;
}

.triangle:nth-of-type(4) {
	left: 94px;
}

.triangle:nth-of-type(5) {
	left: 125px;
}

.triangle:nth-of-type(6) {
	left: 156px;
}

.triangle:nth-of-type(7) {
	left: 188px;
}

.triangle:nth-child(even) {
	transform: rotate(180deg);
	top: 0;
}

.triangle:nth-child(1) {
	animation: none;
}

.line:nth-child(2) .triangle:nth-child(1):before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	left: -22px;
	bottom: -77px;
	background: transparent;
	border: 13px solid transparent;
	border-bottom: 21px solid #F1ECDB;
	animation: tri 1.5s linear infinite;
}

@keyframes tri {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes move {
	0% {
		transform: scale(2.45);
	}
	100% {
		transform: scale(0.5);
	}
}

// Page layout

.page {
	position: relative;
	text-align: center;
	overflow: hidden;
	min-height: 100vh;
	opacity: 0;
}

[data-x-mode] .page {
	opacity: 1;
}

@media (min-width: 1630px) {
	html.boxed .page {
		max-width: 1600px;
		margin-left: auto;
		margin-right: auto;
		box-shadow: 0 0 23px 0 rgba(1, 1, 1, 0.1);
	}
}

html.rd-navbar-fixed-linked .page {
	padding-top: 56px;
}

*/